@import "normalizez.scss"
@import "resets.scss"

/* open sans
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" <width>; */

/* oswald
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */

/* .hamburger
    width: 30px
    position: fixed
    top: 40px
    right: 30px
    height: 14px
    z-index: 30
    span
        width: 100%
        height: 2px
        display: block
        background: black
        margin-bottom: 4px
        &:last-child
            margin-bottom: 0px */
/* .hamburger_active
    span
        margin-bottom: -2px
        transition: 1s all
        &:nth-child(1)
            transform: translateY(3px) rotate(-45deg)
        &:nth-child(2)
            display: none
        &:nth-child(3)
            transform: translateY(3px) rotate(45deg) */