@import "normalizez.scss"
@import "resets.scss"

@font-face
    font-family: "OswaldD"
    src: url("../fonts/Oswald-Medium.ttf")
    font-weight: meduim

@font-face
    font-family: "Open"
    src: url("../fonts/OpenSans-Regular.ttf")
    font-weight: regular

@media screen and (max-width : 1280px)
    .about
        padding: 450px 15px 110px 15px

$accent: #F7654A
$white: #fff
$accordion-icon-color: #F7654A

.navbar
    &__text
        color: $white
        text-transform: uppercase
        font-family: "Open"
        margin-right: 40px
    &__search
        color: $accent
        margin-right: 20px

.btn-outline-success
    color: $accent
    border-color: $accent
    font-family: "Open"

.navbar-form
    display: flex
    flex-direction: row
    margin-left: 110px

.container
    max-width: 1140px
    margin: 0 auto
    padding-left: 15px
    padding-right: 15px

.main-section
    background: url("../img/bgc.png") center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    min-height: 740px
    &__logo
        padding-left: 23px
        margin-right: 50px
        width: 60px
        height: 60px
    &__nav-container
        padding-top: 20px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        margin-bottom: 112px
    &__title
        font-size: 64px
        color: white
        font-family: "OswaldD"
        text-align: center
        line-height: 100px
        margin-bottom: 20px
        letter-spacing: 2px
    &__text
        font-size: 18px
        font-family: "Open"
        text-align: center
        color: white
        text-transform: uppercase

.burger
    width: 50px
    height: 50px
    cursor: pointer
    background-color: $accent
    border-radius: none
    border: none
    margin-right: 7px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.burger__line
    width: 21px
    height: 4px
    background-color: #fff
    margin-bottom: 5px
    &:last-child
        margin-bottom: 0px

.content-container
    max-width: 1140px
    position: relative
    &__about-box
        position: absolute
        top: -150px
        width: 1000px
        height: 300px
        background-color: #F7F7F7
        display: flex
        flex-direction: row
        justify-content: space-evenly
        align-items: center
    &__photo-box
        position: absolute
        min-height: 578px
        top: 350px
        display: flex
        flex-direction: row
        justify-content: space-evenly
        align-items: center

.second-section
    min-width: 750px
    position: relative
    display: flex
    justify-content: center
    &__title
        position: absolute
        top: 260px
        color: black
        text-align: center
        color: #404149
        font-size: 44px
        font-family: "OswaldD"
        margin-bottom: 60px
    
.second-section__content-container
    display: flex
    justify-content: center
    
.about-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__title
        color: $accent
        font-size: 72px
        font-family: "Oswaldd"
        text-align: center
        margin-bottom: 25px
    &__title-text
        color: #000
        font-size: 36px
        text-transform: uppercase
        font-family: "Oswaldd"
        text-align: center
        margin-bottom: 10px
    &__text
        font-size: 18px
        color: #999
        font-family: "Open"
        text-align: center

.photo-item
    width: 350px
    margin-right: 30px
    margin-bottom: 120px
    &:last-child
        margin-right: 0px
    &__img
        margin-bottom: 45px
    &__line
        background-color: $accent
        width: 55px
        height: 6px
        margin-bottom: 15px
    &__title
        color: #404149
        font-size: 24px
        font-family: "OswaldD"
        margin-bottom: 20px
    &__text
        color: #999
        font-size: 16px
        font-family: "Open"

.third-section
    background-color: $accent
    height: 180px
    position: relative
    top: 1100px
    margin: 0 auto
    display: flex
    align-items: center
    &__title
        color: $white
        font-size: 48px
        font-family: "OswaldD"
        margin-bottom: 20px
    &__text
        color: $white
        font-size: 24px
        font-family: "OswaldD"
    &__button
        width: 175px
        height: 49px
        display: flex
        flex-direction: row


.third-section__content-container
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    align-content: space-between

.button
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    border: none
    &__text
        text-transform: uppercase
        font-size: 14px
        color: black
        font-family: "OswaldD"
    
.fourth-section
    position: relative
    top: 1250px
    &__title
        font-size: 44px
        color: #404149
        font-family: "Oswaldd"
        margin-bottom: 60px

.fourth-section__content-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.info-box
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    
.info-item
    display: flex
    flex-direction: column
    align-items: center
    width: 350px
    height: 250px
    background-color: #F7F7F7
    margin-bottom: 30px
    &__img
        padding-top: 60px
        margin-bottom: 30px
    &__text
        text-align: center
        font-size: 21px
        color: black
        font-family: "OswaldD"

.fifth-section
    position: relative
    top: 1400px
.grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    &__img
        margin-bottom: 0px

.sixth-section
    position: relative
    top: 750px
    &__title
        margin-bottom: 60px
        font-size: 36px
        color: #404149
        font-family: "Oswaldd"
    &__text
        color: $accent
        font-size: 24px
        font-family: "Oswaldd"

.accordion-body
    color: #999
    font-size: 16px
    font-family: "Open"

.seven-section
    position: relative
    top: 1650px
    background-color: #404149
    height: 364px
    margin: 0 auto
    display: flex
    align-items: center
    &__title
        color: $white
        font-size: 36px
        font-family: "Oswaldd"
        text-transform: uppercase
        padding-top: 30px
        text-align: center
        margin-bottom: 60px

.partner-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center

.eight-section
    position: relative
    top: 1800px
    &__title
        font-size: 36px
        font-family: "Oswaldd"
        text-transform: uppercase
        text-align: center
        margin-bottom: 60px
        color: black

.text-box
    background-color: #F7F7F7
    width: 350px
    height: 290px
    margin-bottom: 20px
    &__title
        color: $accent
        font-family: "Oswaldd"
        font-size: 124px
        padding-top: 20px
        padding-left: 20px
    &__text
        position: relative
        top: -40px
        width: 290px
        padding-left: 20px
        font-family: "Open"
        font-size: 16px
        color: #999
    &__name
        color: black
        font-family: "Oswaldd"
        font-size: 21px

.name
    &__span
        color: $accent

.rewies-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center

.nine-section
    background-color: $accent
    height: 180px
    position: relative
    top: 2000px
    margin: 0 auto
    display: flex
    align-items: center
    &__title
        color: $white
        font-size: 48px
        font-family: "OswaldD"
        margin-bottom: 20px
    &__text
        color: $white
        font-size: 24px
        font-family: "OswaldD"
    &__button
        background-color: $white
        width: 175px
        height: 49px
        display: flex
        flex-direction: row
        border-radius: 0px

.nine-section__content-container
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center
    align-content: space-between

.ten-section
    position: relative
    top: 2100px
    &__title
        text-align: center
        text-transform: uppercase
        color: black
        font-size: 48px
        font-family: "Oswaldd"
        margin-bottom: 60px

.content-container__kontakt-box
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center

.kontakt-items
    width: 255px
    height: 185px
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: center
    justify-content: flex-start
    align-content: flex-start
    &__img
        margin-bottom: 36px
    &__title
        text-transform: uppercase
        color: #999
        font-size: 24px
        font-family: "Oswaldd"
        margin-bottom: 25px
    &__text
        text-transform: uppercase
        color: black
        font-size: 24px
        font-family: "Oswaldd"
        text-align: center
        width: 255px
        margin-bottom: 10px
    &__link
        color: black
        text-decoration: none    
.footer
    background-color: #404149
    position: relative
    top: 2250px
    height: 100px
    &__text
        color: $white
        font-size: 16px
        font-family: "Open"

.footer__content-container
    padding-top: 40px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center